/* Ensure the main content takes up available space */
.error-container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: #f7ede1;
    flex: 1;
}

h1 {
    font-size: 36px;
    color: #fc7a43;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

a {
    text-decoration: none;
    background-color: #4c1d95;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #6d28d9;
}

.error-image {
    display: block;
    margin: 30px auto;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.error-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(76, 29, 149, 0.3);
    cursor: pointer;
}
