<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todas Nuestras Mascotas</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/pet_table.css" />
  </head>
  <body>
    <h1>Conoce las Mascotas en Clínica Shiba</h1>

    <div class="table-container">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Raza</th>
            <th>Peso</th>
            <th>Enfermedad</th>
            <th>Foto</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="mascota : ${mascotas}">
            <td th:text="${mascota.id}"></td>
            <td th:text="${mascota.nombre}"></td>
            <td th:text="${mascota.edad}"></td>
            <td th:text="${mascota.raza}"></td>
            <td th:text="${mascota.peso}"></td>
            <td th:text="${mascota.enfermedad}"></td>
            <td>
              <img
                th:src="${mascota.foto}"
                alt="Foto de Mascota"
                width="100"
                height="100" />
            </td>
            <td th:text="${mascota.estado}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
